In [ ]:
my_list = [1,2,3,4]

In [ ]:
type(my_list)

list

In [ ]:
# Assign a list to an variable named my_list
my_list = [1,2,3,4]

### Earlier when discussing strings we introduced the concept of a <u>sequence</u> in Python. 
* <u>Lists</u> can be thought of the most general version of a *sequence* in Python. 


* Unlike strings, they are mutable, meaning the elements inside a list can be changed! 


* Lists are constructed with brackets <code>[]</code> and commas separating every element in the list.

In [ ]:
print(my_list)

[1, 2, 3, 4]

* We just created a list of integers, but lists can actually hold different object types. For example:

In [ ]:
my_list = ["A string",23,100.232,'o',True]

In [ ]:
my_list

['A string', 23, 100.232, 'o', True]

In [ ]:
student = ["Ravi", "M", 31, "Bengalore", True]

# Ravi = 0
# M = 1
# 31 = 2
# Bangalore = 3
# True = 4

In [ ]:
student[-1]

True

In [ ]:
print(student)

['Ravi', 'M', 31, 'Bengalore', True]

* Just like strings, the <code>len()</code> function will tell you how many items are in the sequence of the list.

In [ ]:
len(my_list)

5

## List Indexing
* Indexing work just like in strings.


* A list index refers to the location of an element in a list.


* Remember the indexing begins from 0 in Python. 


* The first element is assigned an index 0, the second element is assigned an index of 1 and so on and so forth.

In [ ]:
# Consider a list of strings
loss_functions = ['Mean Absolute Error','Mean Squared Error','Huber Loss','Log Loss','Hinge Loss']
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

In [ ]:
# Grab the element at index 0, which is the FIRST element
print(loss_functions[2])

Huber Loss

In [ ]:
len(loss_functions)

5

In [ ]:
# Grab the element at index 3, which is the FOURTH element
print(loss_functions[3])

Log Loss

In [ ]:
print(loss_functions[5])

IndexError: ignored

In [ ]:
# Grab the element at the index -1, which is the LAST element
print(loss_functions[-1])

Hinge Loss

In [ ]:

# Grab the element at the index -3, which is the THIRD LAST element
print(loss_functions[-3])

Huber Loss

## List Slicing

* We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. 


* The starting index is specified on the left of the <code>:</code> and the ending index is specified on the right of the <code>:</code>. 


* Remember the element located at the right index is not included.

In [ ]:
# Print our list
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

In [ ]:
# Grab the elements starting from index 1 and everything past it
loss_functions[1:4]

['Mean Squared Error', 'Huber Loss', 'Log Loss']

* If you do not specify the ending index, then all elements are extracted which comes after the starting index including the element at that starting index. The operation knows only to stop when it has run through the entire list.

In [ ]:
# Grab everything starting from index 2
loss_functions[2:]

['Huber Loss', 'Log Loss', 'Hinge Loss']

* If you do not specify the starting index, then all elements are extracted which comes befores the ending index excluding the element at the specified ending index. The operation knows only to stop when it has extracted all elements before the  element at the ending index.

In [ ]:
# Grab everything before the index 4
loss_functions[:4]

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss']

* If you do not specify the starting and the ending index, it will extract all elements of the list.

In [ ]:
# Grab everything
print(loss_functions[:])
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']
['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

* We can also extract the last four elements. Remember we can use the index -4 to extract the FOURTH LAST element

In [ ]:
# Grab the LAST FOUR elements of the list
loss_functions[-4:]

['Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

In [ ]:
loss_functions[-10]

IndexError: ignored

* It should also be noted that list indexing will return an error if there is no element at that index.

In [ ]:
len(loss_functions)

5

In [ ]:
loss_functions[8]

IndexError: ignored

This works, but it is not very efficient if we want to work with a large set of numbers. The range() function helps us generate long lists of numbers. Here are two ways to do the same thing, using the range function.

In [ ]:
# Print the first ten numbers.
for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Print the first ten odd numbers.
for number in range(0,11,2):
    print(number)

0
2
4
6
8
10

In [ ]:
# Create a list of the first ten numbers.
numbers = list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## List Operations
* Remember we said that lists are mutable as opposed to strings. Lets see how can we change the elements of a list

* We can also use <code>+</code> to concatenate lists, just like we did for strings.

In [ ]:
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

In [ ]:
loss_functions + ['Kullback-Leibler']

['Mean Absolute Error',
 'Mean Squared Error',
 'Huber Loss',
 'Log Loss',
 'Hinge Loss',
 'Kullback-Leibler']

* Note: This doesn't actually change the original list!

In [ ]:
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

* You would have to reassign the list to make the change permanent.

In [ ]:
# Reassign
loss_functions = loss_functions + ['Kullback-Leibler']

In [ ]:
loss_functions

['Mean Absolute Error',
 'Mean Squared Error',
 'Huber Loss',
 'Log Loss',
 'Hinge Loss',
 'Kullback-Leibler']

* We can also use the <code>*</code> for a duplication method similar to strings:

In [ ]:
# Make the list double
len(loss_functions * 6)

36

In [ ]:
loss_functions = loss_functions * 6
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler']

In [ ]:
#Testing whether an item is in a list
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

print('australian cattle dog' in dogs)
print('poodle' in dogs)

True
False

## List Functions

### <code>len()</code>


* <code>len()</code> function returns the length of the list

In [ ]:
loss_functions = ['Mean Absolute Error',
 'Mean Squared Error',
 'Huber Loss',
 'Log Loss',
 'Hinge Loss',
 'Kullback-Leibler']
 
print(loss_functions)
loss_functions.

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler']

In [ ]:
len(loss_functions)

6

### <code>min()</code>


* <code>min()</code> function returns the minimum element of the list


* <code>min()</code> function only works with lists of similar data types

In [ ]:
new_list = [6, 9, 1, 3, 5.5]

In [ ]:

min(new_list)

1

In [ ]:
my_new_list = ['a','b', 'z' ,'y' , 'm']

In [ ]:
min(my_new_list)

'a'

### <code>max()</code>


* <code>max()</code> function returns the maximum element of the list


* <code>max()</code> function only works with lists of similar data types

In [ ]:
new_list = ['Argue','Burglar','Parent','Linear','shape']

In [ ]:
max(new_list)

'shape'

### <code>sum()</code>


* <code>sum()</code> function returns the sum of the elements of the list


* <code>sum()</code> function only works with lists of numeric data types

In [ ]:
new_list = [6, 9, 1, 3, 5.5]

In [ ]:
sum(new_list)

24.5

### <code>sorted()</code>


* <code>sorted()</code> function returns the sorted list 


* <code>sorted()</code> function takes reverse boolean as an argument


* <code>sorted()</code> function only works on a list with similar data types

In [ ]:
new_list

[6, 9, 1, 3, 5.5]

In [ ]:
sorted(new_list)

[1, 3, 5.5, 6, 9]

In [ ]:
print(new_list)

[6, 9, 1, 3, 5.5]

In [ ]:
new_list = ['Argue','Burglar','Parent','Linear','shape']

In [ ]:
sorted(new_list)

['Argue', 'Burglar', 'Linear', 'Parent', 'shape']

In [ ]:
print(new_list)

['Argue', 'Burglar', 'Parent', 'Linear', 'shape']

In [ ]:
sorted(new_list,reverse=True)

['shape', 'Parent', 'Linear', 'Burglar', 'Argue']

In [ ]:
sorted(new_list)

['Argue', 'Burglar', 'Linear', 'Parent', 'shape']

* <code>sorted()</code> function does not change our list

In [ ]:
new_list

['Argue', 'Burglar', 'Parent', 'Linear', 'shape']

## List Methods

* If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).


* Let's go ahead and explore some more special methods for lists:

In [ ]:
# Create a new list
my_list = [1,2,3,1,1,1,3,10,5,8]

### <code>append()</code> 

* Use the <code>append()</code> method to permanently add an item to the end of a list.


* <code>append()</code> method takes the element which you want to add to the list as an argument

In [ ]:
# Print the list
my_list

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8]

In [ ]:
len(my_list)

10

In [ ]:
# Append to the end of the list
my_list.append('Append me!')

* Ah darn it! I was expecting some output. Lets see what happened to <code>my_list</code>

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!']

In [ ]:
len(my_list)

11

* Woah! Calling the <code>append()</code> method changed my list? Yes, the <code>append()</code>  method changes your original list!

In [ ]:
# Show
my_list.append(2.73)

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73]

* We can in fact add a list object to our <code>my_list</code> object

In [ ]:
my_list.append([1,2,3])

In [ ]:
my_list

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3]]

In [ ]:
len(my_list)

13

In [ ]:
my_list[12][0:2]

[1, 2]

In [ ]:
my_list.append([10,[19,20],30])

In [ ]:
len(my_list)

14

In [ ]:
my_list

[1,
 2,
 3,
 1,
 1,
 1,
 3,
 10,
 5,
 8,
 'Append me!',
 2.73,
 [1, 2, 3],
 [10, [19, 20], 30]]

In [ ]:
student = ['Ravi', 'm', 31, ['Math', 'Science', 'English']]

### <code>extend()</code>

* Use the <code> extend()</code> method to merge a list to an existing list


* <code> extend()</code> method takes a list or any iterable(don't worry about it now) as an argument.


* Quite helpful when you have two or more lists and you want to merge them together

In [ ]:
# Print the list
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30]]

In [ ]:
my_list.extend(['Wubba','Lubba','Dub Dub'])

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], 'Wubba', 'Lubba', 'Dub Dub', ['Wubba', 'Lubba', 'Dub Dub'], 'Wubba', 'Lubba', 'Dub Dub']

In [ ]:
len(my_list)

21

In [ ]:
my_list.extend([1,2,3])
len(my_list)

24

In [ ]:
my_list

[1,
 2,
 3,
 1,
 1,
 1,
 3,
 10,
 5,
 8,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 {1, 2, 3},
 [1, 2, 3],
 1,
 2,
 3]

### <code>insert()</code>

* We can also insert items anywhere we want in a list, using the insert() function. 

* We specify the position we want the item to have, and everything from that point on is shifted one position to the right. 

* In other words, the index of every item after the new item is increased by one.

In [ ]:
my_list.insert(2, 'ravi')

In [ ]:
my_list

[1,
 2,
 'ravi',
 3,
 1,
 1,
 1,
 3,
 10,
 5,
 8,
 'Append me!',
 2.73,
 [1, 2, 3],
 [10, [19, 20], 30],
 'Wubba',
 'Lubba',
 'Dub Dub',
 ['Wubba', 'Lubba', 'Dub Dub'],
 'Wubba',
 'Lubba',
 'Dub Dub']

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
dogs.insert(1, 'poodle')

print(dogs)

['border collie', 'poodle', 'australian cattle dog', 'labrador retriever']

### <code>pop()</code>

* Use <code>pop()</code> to "pop off" an item from the list. 


* By default <code>pop()</code> takes off the element at the last index, but you can also specify which index to pop off. 


* <code>pop()</code> takes the index as an argument and returns the element which was popped off.

In [ ]:
# Print the list
print(my_list)

[1, 2, 'ravi', 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], 'Wubba', 'Lubba', 'Dub Dub', ['Wubba', 'Lubba', 'Dub Dub'], 'Wubba', 'Lubba', 'Dub Dub']

In [ ]:
# Pop off the 0 indexed item
my_list.pop()

'Dub Dub'

* <code>pop()</code> method changes the list by popping off the element at the specified index

In [ ]:
print(my_list)

[1, 2, 'ravi', 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], 'Wubba', 'Lubba', 'Dub Dub', ['Wubba', 'Lubba', 'Dub Dub'], 'Wubba', 'Lubba']

In [ ]:
# Assign the popped element, remember default popped index is -1
my_list.pop(-2)

['Wubba', 'Lubba', 'Dub Dub']

In [ ]:
len(my_list)

19

In [ ]:
print(my_list)

[1, 2, 'ravi', 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], 'Wubba', 'Lubba', 'Dub Dub', 'Wubba']

### <code>remove()</code>

* Use <code>remove()</code> to remove an item/element from the list. 


* By default <code>remove()</code> removes the specified element from the list.


* <code>remove()</code> takes the element as an argument.

In [ ]:
# Print the list
print(my_list)

[1, 2, 'ravi', 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], 'Wubba', 'Lubba', 'Dub Dub', 'Wubba']

In [ ]:
# Remove the element which you want to 
my_list.remove([10, [19, 20], 30])

In [ ]:
# Show
print(my_list)

[1, 2, 'ravi', 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], 'Wubba', 'Lubba', 'Dub Dub', 'Wubba']

In [ ]:
my_list.remove([1,2,3])

In [ ]:
print(my_list)

[1, 2, 'ravi', 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, 'Wubba', 'Lubba', 'Dub Dub', 'Wubba']

In [ ]:
len(my_list)

17

In [ ]:
my_list.remove(1)

In [ ]:
print(my_list)

[2, 'ravi', 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, 'Wubba', 'Lubba', 'Dub Dub', 'Wubba']

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
# Remove the first dog from the list.
del dogs[0]

print(dogs)

['australian cattle dog', 'labrador retriever']

In [ ]:
len(my_list)

16

In [ ]:
my_list.clear()

In [ ]:
my_list

[]

In [ ]:
my_list = [2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, 'Wubba']

### <code>count()</code>


* The <code>count()</code> method returns the total occurrence of a specified element in the list

In [ ]:
a="cabdd"
a.count('d')

2

In [ ]:
print(my_list)

[2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, 'Wubba']

In [ ]:
# Count the number of times element 1 occurs in my_list
my_list.count('Wubba')

1

In [ ]:
my_list.count(1)

3

### <code>index()</code>


* The <code>index()</code> method returns the index of a specified element.

In [ ]:
print(my_list)

[2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, 'Wubba']

In [ ]:
my_list.index('Wubba')

11

In [ ]:
my_list.index(3)

1

### <code>sort()</code>

* Use <code>sort()</code> to sort the list in either ascending/descending order


* The sorting is done in ascending order by default


* <code>sort()</code> method takes the reverse boolean as an argument


* <code>sort()</code> method only works on a list with elements of same data type

* Whenever you consider sorting a list, keep in mind that you can not recover the original order. If you want to display a list in sorted order, but preserve the original order, you can use the <code>sorted()</code> function. The <code>sorted()</code> function also accepts the optional reverse=True argument.

In [ ]:
new_list = [6, 9, 1, 3, 5]

In [ ]:
new_list[2]=3

In [ ]:
new_list

[6, 9, 3, 3, 5]

In [ ]:
sorted(new_list)

[3, 3, 5, 6, 9]

In [ ]:
new_list

[6, 9, 3, 3, 5]

In [ ]:
# Use sort to sort the list (this is permanent!)
new_list.sort()

In [ ]:
print(new_list)

[3, 3, 5, 6, 9]

In [ ]:
# Use the reverse boolean to set the ascending or descending order
new_list.sort(reverse=True)
print(new_list)

[9, 6, 5, 3, 3]

In [ ]:
boolean_list = [True, False]

In [ ]:
boolean_list.sort()

In [ ]:
print(boolean_list)

[False, True]

### <code>reverse()</code>

* <code>reverse()</code> method reverses the list

In [ ]:
my_list = [1, 1, 1, 1, 1.43, 2, 3, 3, 5, 8, 10, 'Lubba', 'Dub Dub']

In [ ]:
print(my_list)

[1, 1, 1, 1, 1.43, 2, 3, 3, 5, 8, 10, 'Lubba', 'Dub Dub']

In [ ]:
my_list.reverse()

In [ ]:
print(my_list)

['Dub Dub', 'Lubba', 10, 8, 5, 3, 3, 2, 1.43, 1, 1, 1, 1]

## Nested Lists

* A great feature of of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

In [ ]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=['b','a','d']
lst_3=[7,8,9]

# Make a list of lists to form a matrix
list_of_lists = [lst_1,lst_2,lst_3]

In [ ]:
print(list_of_lists)

[[1, 2, 3], ['b', 'a', 'd'], [7, 8, 9]]

In [ ]:
# Show
type(list_of_lists)

list

In [ ]:
# Grab second item in matrix object
list_of_lists[1]

['b', 'a', 'd']

In [ ]:
# Grab first item of the first item in the matrix object
list_of_lists[1][1]

'a'

In [ ]:
list_of_lists[1][1]

'a'

##Looping

* This is one of the most important concepts related to lists. You can have a list with a million items in it, and in three lines of code you can write a sentence for each of those million items. 

* We use a loop to access all the elements in a list. A loop is a block of code that repeats itself until it runs out of items to work with, or until a certain condition is met. In this case, our loop will run once for every item in our list. With a list that is three items long, our loop will run three times.

In [ ]:
#Accessing all elements in a list
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

for dog in dogs:
    print(dog + " is an animal")

border collie is an animal
australian cattle dog is an animal
labrador retriever is an animal

In [ ]:
#Doing more with each item
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

for dog in dogs:
    print('I like ' + dog + 's.')
    # OR print(f'I like  {dog}s')

I like border collies.
I like australian cattle dogs.
I like labrador retrievers.

In [ ]:
#Inside and outside the loop
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

for dog in dogs:
    print('I like ' + dog + 's.')
    print('No, I really really like ' + dog +'s!\n')
    
        
print("\nThat's just how I feel about dogs.")

I like border collies.
No, I really really like border collies!

I like australian cattle dogs.
No, I really really like australian cattle dogs!

I like labrador retrievers.
No, I really really like labrador retrievers!


That's just how I feel about dogs.

In [ ]:
#Enumerating a list
#When you are looping through a list, you may want to know the index of the current item. 
#You could always use the list.index(value) syntax, but there is a simpler way. 
#The enumerate() function tracks the index of each item for you, as it loops through the list:

dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

print("Results for the dog show are as follows:\n")
for index, dog in enumerate(dogs):
    place = str(index)
    print("Place: " + place + " Dog: " + dog.title())

Results for the dog show are as follows:

Place: 0 Dog: Border Collie
Place: 1 Dog: Australian Cattle Dog
Place: 2 Dog: Labrador Retriever

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

print("Results for the dog show are as follows:\n")
for index, dog in enumerate(dogs):
    place = str(index+1)
    print("Place: " + place + " Dog: " + dog.title())

Results for the dog show are as follows:

Place: 1 Dog: Border Collie
Place: 2 Dog: Australian Cattle Dog
Place: 3 Dog: Labrador Retriever

Python allows two keywords to be used within a for loop: break and continue.

The two keywords have two different meanings:

Break used to immediatly break the loop and exit!
Continue used to skip to the next iteration step!

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

print("Results for the dog show are as follows:\n")
for index, dog in enumerate(dogs):
  
    if index == 1:
      continue
    elif index == 2:
      break
    place = str(index+1)
    print("Place: " + place + " Dog: " + dog.title())

Results for the dog show are as follows:

Place: 1 Dog: Border Collie

In [ ]:
dog = 'border collie'
dog.title()

'Border Collie'

## List Comprehensions

* They are a shorthand way of creating and working with lists.

![image.png]()

### Numerical Comprehensions

In [ ]:
# Store the first ten square numbers in a list.
# Make an empty list that will hold our square numbers.
squares = []

# Go through the first ten numbers, square them, and add them to our list.
for number in range(1,11):
    new_square = number**2
    squares.append(new_square)
    
# Show that our list is correct.
for square in squares:
    print(square)

1
4
9
16
25
36
49
64
81
100

In [ ]:
# Store the first ten square numbers in a list.
# Make an empty list that will hold our square numbers.
squares = []

# Go through the first ten numbers, square them, and add them to our list.
for number in range(1,11):
    squares.append(number**2)
    
# Show that our list is correct.
for square in squares:
    print(square)

1
4
9
16
25
36
49
64
81
100

In [ ]:
# Store the first ten square numbers in a list.
squares = [number**2 for number in range(1,11)]

# Show that our list is correct.
for square in squares:
    print(square)

1
4
9
16
25
36
49
64
81
100

In [ ]:
# Make a list of the first ten even numbers. # Or make a table of 2
evens = [number*2 for number in range(1,11)]

for even in evens:
    print(even)

2
4
6
8
10
12
14
16
18
20

### Non-numerical comprehensions

In [ ]:
# Consider some students.
students = ['bernice', 'aaron', 'cody']

# Let's turn them into great students.
great_students = []
for student in students:
    great_students.append(student.title() + " the great!")

# Let's greet each great student.
for great_student in great_students:
    print("Hello, " + great_student)

Hello, Bernice the great!
Hello, Aaron the great!
Hello, Cody the great!

In [ ]:
# Consider some students.
students = ['bernice', 'aaron', 'cody']

# Let's turn them into great students.
great_students = [student.title() + " the great!" for student in students]

# Let's greet each great student.
for great_student in great_students:
    print("Hello, " + great_student)

Hello, Bernice the great!
Hello, Aaron the great!
Hello, Cody the great!

### One more Example

In [ ]:
# shopping cart full of numbers (a Python list of numbers)
cart = [5, 7, 9, 10, 12, 15, 19, 20, 22]

In [ ]:
# Only give cashier 4 odd numbers over 100
cashier_4 = []
for item in cart:
    item += 100 # add 100 to each item to bring them over 100
    if item % 2 == 1: # check to see if they're odd or not
        cashier_4.append(item)
print(cashier_4)

[105, 107, 109, 115, 119]

In [ ]:
# TODO: Turn the cashier_4 code above into a list comprehension
cashier_4 = [item+100 for item in cart if item % 2 != 0]
print(cashier_4)

[105, 107, 109, 115, 119]

In [ ]:
#Let's compare two differnt shopping carts.
cart_1 = [1, 8, 29, 34, 58, 74, 88, 99]
cart_2 = [3, 8, 31, 36, 58, 77, 88, 93]

In [ ]:
# Non-list comprehension version
cashier_5 = []
for item in cart_1:
    if item in cart_2:
        cashier_5.append(item)
print(cashier_5)

[8, 58, 88]

In [ ]:
# List comprehension version
cashier_5 = [item for item in cart_1 if item in cart_2]
cashier_5

[8, 58, 88]

### Challenge time!

In [ ]:
# Without list comprehension
cashier_6 = []
for item_1, item_2 in zip(cart_1, cart_2):
    cashier_6.append(item_1 + item_2)
print(cashier_6)

[4, 16, 60, 70, 116, 151, 176, 192]

In [ ]:
print(cart_1)
print(cart_2)

[1, 8, 29, 34, 58, 74, 88, 99]
[3, 8, 31, 36, 58, 77, 88, 93]

In [ ]:
cart_3 = list(zip(cart_1, cart_2))
print(cart_3)

[(1, 3), (8, 8), (29, 31), (34, 36), (58, 58), (74, 77), (88, 88), (99, 93)]

In [ ]:
cart_4 = [item[0]+item[1] for item in cart_3 ]
print(cart_4)

[4, 16, 60, 70, 116, 151, 176, 192]

In [ ]:
min(["Ar","ar"])

'Ar'