<a href="https://colab.research.google.com/github/Gulzar-khan/Python-Practice/blob/main/M1W3_Guided_Project_EDA_on_IMDB_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## You have been hired by a rookie movie producer to help him decide what type of movies to produce and which actors to cast. You have to back your recommendations based on thorough analysis of the data he shared with you which has the list of 3000 movies and the corresponding details.

## As a data scientist, you have to first explore the data and check its sanity.

## Further, you have to answer the following questions:
1. ### <b> Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.</b>
2. ### <b>This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)? </b>
3. ### <b> Find out the unique genres of movies in this dataset.</b>
4. ### <b> Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI? </b>
5. ### <b> Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor. </b>
6. ### <b>Top 3 directors prefer which actors the most? </b>

# Data Exploration

In [ ]:
#Import package
import pandas as pd
import numpy as np
import ast

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path='/content/drive/MyDrive/imdb_data.csv'
df=pd.read_csv(path)

In [ ]:
def find_d(li):
  #print(li)
  job_iterator = 0

  if type(li)!= float:
    li = ast.literal_eval(li)
    while True:
      if li[job_iterator]['job']!='Director':
        job_iterator+=1
      else:
        return li[job_iterator]['name']

def find_p(li):
  #print(li)
  job_iteratorr = 0

  if type(li)!= float:
    li = ast.literal_eval(li)
    while True:
      if li[job_iteratorr]['job']!='Producer':
        job_iteratorr+=1
      else:
        return li[job_iteratorr]['name']

In [ ]:
df['new_cast'] = df.cast.fillna('[]').apply(ast.literal_eval)
df['new_crew'] = df.crew.fillna('[]').apply(ast.literal_eval)

# df['new_cast'] = df.new_cast.apply(lambda x:find_d(x['crew']))
# df['new_crew'] = df.new_crew.apply(lambda x: find_p(x['crew']))

,profit,most,new_cast,new_crew
1761,1.316249e+09,1.316249e+09,"[{'cast_id': 17, 'character': 'Dominic Toretto...","[{'credit_id': '52fe4cc8c3a36847f823e681', 'de..."

##1.Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.

In [ ]:
df['profit'] = df['revenue'] - df['budget']
df['profit'].replace([np.inf, -np.inf], 0, inplace=True)

In [ ]:
df['profit'].sort_values(ascending=False).head(1)

1761    1316249360
Name: profit, dtype: int64

In [ ]:
imdb_df.loc[imdb_df['profit'].idxmax(),'original_title']

'Furious 7'

In [ ]:
new_df=df.iloc[1761:1762,-4:]
new_df

,profit,most,new_cast,new_crew
1761,1.316249e+09,1.316249e+09,"[{'cast_id': 17, 'character': 'Dominic Toretto...","[{'credit_id': '52fe4cc8c3a36847f823e681', 'de..."